<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Video MP4</title>
</head>
<body>
  <form method="POST" action="/player">
    <label for="url"></label>
    <input id="url" type="text">
    <br>
    <input type="checkbox" id="muted" name="muted">
    <label for="muted">Muted</label><br>
    <br>
    <input type="checkbox" id="autoplay" name="autoplay">
    <label for="autoplay">Autoplay</label>
    <br>
    <label for="sirka">width</label>
    <input id="sirka" type="text" value="1000">
    <button type="submit">dadadad</button>
  </form>
</body>
</html>